.pageContainer {
  /* background-color: #fcfbf1; */
  background-color: blueviolet;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.footer {
  background-color: #f7f5e1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: small;
  color: darkslategrey;
  margin-top: 4rem;
  bottom: 0;
  width: 100%;
  position: abosolute;
}
