.pageContainer {
  background-color: #fcfbf1;
  width: 100%;
  min-height: 100vh;
}

.footer {
  background-color: #f7f5e1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: small;
  color: darkslategrey;
  width: 100%;
}
