.noteCard {
  background-color: #f2eecb;
}

.cardText {
  white-space: pre-line;
}

.userText {
  color: darkslategrey;
  transition: background-color 0.3s ease;
  padding: 0.5rem;
}

.userText:hover {
  text-decoration: underline;
}

.dateText {
  font-size: smaller;
  color: darkslategrey;
  margin-left: 0.5rem;
}

.cardBody {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
