.noteCard {
  background-color: #f2eecb;
}

.cardText {
  white-space: pre-line;
}

.userText {
  color: darkslategrey;
  transition: background-color 0.3s ease;
}

.userText:hover {
  background-color: #4e598c;
  border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
}

.dateText {
  font-size: smaller;
  color: darkslategrey;
  margin-left: 0.5rem;
}

.cardBody {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
