.noteCard {
	background-color: #f2eecb;
}

.cardText {
	white-space: pre-line;
}

.userText {
	color: darkslategrey;
}

.dateText {
	font-size: smaller;
	color: darkslategrey;
	margin-left: 0.5rem;
}
