.notesPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fcfbf1;
}

.notesGrid {
	width: 100%;
	height: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.note {
	max-width: 400px;
	cursor: pointer;
}

.logMessage {
	display: flex;
	align-items: center;
	gap: 1rem;
	color: #fff;
	background-color: #4e598c;
	max-width: 400px;
	width: 400px;
	padding: 1.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
}

.footer {
	background-color: #f7f5e1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}
